{% extends 'app/base.html' %}
{% load static %}


{% block title %}Customer Registration{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Customer Registration</h3>
   <hr>

   <form action="" method="post" novalidate class="shadow p-5">
   {% if messages %}
   {% for message in messages %}
   <p {% if messages.tags %} class="alert alert-{{messages.tags}}"{% endif %}> 
   {{message}}
   </p>
   {% endfor %}
   {% endif %}
    {% csrf_token %}
    <div class="mb-3">
      {% for fm in form  %}
        <div class="form-group">
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
        </div>
        {% endfor %}
      <div class="text-end mt-1">
     <button type="submit" class="btn btn-outline-danger">Register</button>
    </div>
    <br>
    <div class="text-center text-primary fw-bold"><small>Existing User ? <a href="{% url 'login' %}"
       class="text-danger">Login Now</a> </small></div>
   
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}